<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">
      Home
      <small>post your friends written</small>
    </h1>
    <%= render partial: "static_pages/post", collection: @posts%>
    <hr>
    <%= paginate @posts %>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h4>Blog Search</h4>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <div class="well">
      <h4>Side Widget Well</h4>
      <p>Test</p>
    </div>
  </div>
  </div>
</div>
