<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">
      Home
      <% if user_signed_in? %>
        <small>post your friends written</small>
      <% end %>
    </h1>
    <% if user_signed_in? %>
      <%= render partial: "static_pages/post", collection: @posts_by_friends%>
    <% else %>
      <%= render partial: "static_pages/post", collection: @posts %>
    <% end %>
    <hr>
    <% if user_signed_in? %>
      <%= paginate @posts_by_friends %>
    <% else %>
      <%= paginate @posts %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>Project Demo</h3>
      <h3>A web blog platform</h3>
      <p>This is a project made in 2 days using Rails framework</p>
      <h4>Everyone can</h4>
        <li>read all posts and comments on this site</li>
        <li>sign up to become a user</li>
      <h4>Become a user, you can</h4>
        <li>Write post everyday</li>
        <li>Make friends with other users and read their posts</li>
        <li>Express your opinions to others' posts by commenting and pressing like button </li>
    </div>
  </div>
  </div>
</div>
