@import 'variable_color';

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  @include box_sizing;
  border: 1px solid $light-gray;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 13px;
  outline: none;
}
