@import 'variable_color';

.card {
  box-shadow: 0 1px 3px $black-russian, 0 1px 2px $stratos;
  margin-bottom: 1.875rem;
  position: relative;
  display: block;
  background-color: white;
  border: 1px solid rgba(0,0,0,.06);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px $black-russian-hover, 0 10px 10px $stratos-hover;
  }
}

.card-block {
  padding: 1rem;
}

.media-body {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  h2, h4 {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.commenting {
  color: black;
}
