$dark: #222;
$dimgray: #555;
$lavender: #eaeaea;
$light-gray: #777;
$light-lavender: #e8e8e8;
$silver: #bbb;
$white: #fff;
$fire-brick: #b22222;
$mystic: #DFE3EE;
$dazzled-blue: #3B5998;
$black-russian: rgba(0,0,0,0.12);
$stratos: rgba(0,0,0,0.24);
$black-russian-hover: rgba(0,0,0,0.25);
$stratos-hover: rgba(0,0,0,0.22);
$alto: #ddd;
$cornflower-blue: #4285F4;
$blumine: #21527d;
