<footer class="footer">
  <small>
    A blog platform made with rails
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title"), "#" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
